<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rounds</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="rounds.js" type="module"></script>
    <link rel="stylesheet" href="rounds.css">
</head>

<body>
    <h1>Rounds</h1>
    <main id="app">
        <div class="timer">
            <div class="contained">
                <button @click="startRound(0.1,0.1)"> Start Test Round </button>
                <button @click="startRound(25,5)"> Start Short Round </button>
                <button @click="startRound(50,10)"> Start Long Round </button>
                <button @click="logRound(25)"> Log Short Round </button>
                <button @click="logRound(50)"> Log Long Round </button>
                <button @click="earlyStop()"> Early Stop  </button>
                <div>
                    <span> {{ currentState}}</span>
                </div>
                <div>
                    <span>Points to goal: {{ pointsTillGoal }}</span>
                </div>
            </div>
            <div class="frame">
                <div class="face">
                    <div class="clock" :class="currentState.toLowerCase()">
                        <div class="hand" :style="handStyle()">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="center-align">
                    <strong> {{ displayTime() }}</strong>
                </div>
            </div>
        </div>
        <div>
            <textarea :value="shareText"></textarea>
        </div>
        <div>
            <details>
                <summary>
                    Goals
                </summary>
                <h2>
                    Goals
                </h2>
                <form @submit="updateGoal">
                    <div>
                        <strong>
                            Weekly Points Goal:
                        </strong>
                        <input v-model="userWeeklyGoal" type="number">
                    </div>
                    <div>
                        <strong>Yearly Points Goal:</strong>
                        <input v-model="userYearlyGoal" type="number">
                    </div>
                    <input type="submit" value="Set Points goal">
                </form>
                <button @click="clearAllGoals">Clear All</button>
                <div>
                    <span>Total Points: {{ totalPoints }} </span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="round in roundsData.rounds">
                            <td>
                                {{ round.date }}
                            </td>
                            <td>
                                {{ round.points }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </details>
        </div>
        <audio ref="alarm" src="alarm.wav"></audio>
    </main>
</body>

</html>