* {
  --background: #81e0d7;
  --work: #ed6c6b;
  --break: #9c83f7;
  --idle: #edc380;
}

body {
  background-color: var(--background);
}

.contained {
  max-width: 200px;
  margin: auto;
  flex: 1;
}
.frame {
  flex: 3;
}
.face {
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
}
.timer {
  height: 100%;
  width: 100%;
  display: flex;
}

.clock {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.clock hr {
  width: 50%;
  margin-left: 0px;
}

.clock h2 {
  text-align: center;
}

.hand {
  position: relative;
  top: 150px;
}

.idle {
  background-color: var(--idle);
}

.work {
  background-color: var(--work);
}

.break {
  background-color: var(--break);
}

table tr td {
  border-bottom: black solid 1px;
  padding: 0px 10px;
}

.center-align {
  text-align: center;
  width: 300px;
}
