* {
  --background: #81e0d7;
  --work: #ed6c6b;
  --break: #9c83f7;
  --idle: #edc380;
}

body {
  background-color: var(--background);
}

.contained {
  max-width: 200px;
  margin: auto;
}

.clock {
  height: 150px;
  width: 300px;
  border-radius: 50%;
  padding: 150px;
  padding-top: 300px;
  margin: auto;
}

.hand {
  position: relative;
}

.idle {
  background-color: var(--idle);
}

.work {
  background-color: var(--work);
}

.break {
  background-color: var(--break);
}
